body {
  padding: 50px;
  justify-content: center;
  background-color: #0b1d2e;
  color: rgba(255, 255, 255, 0.95);
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 1px;
  font-family: "微軟正黑體", sans-serif;
}
/* 複寫區 */
ul {
  padding: 0;
  list-style: none;
}
h1 {
  font-weight: lighter;
  color: white;
}
h2 {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  color: white;
}
h2::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #ddaa00;
  margin-right: 10px;
}
h4 {
  margin: 0;
  margin-top: 40px;
  margin-right: 10px;
  color: white;
}
h5 {
  size: 600;
  font-weight: lighter;
  color: white;
}
h6 {
  margin: 0;
  margin-top: -20px;
  margin-left: 60px;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
hr {
  border: none;
  border-bottom: solid 3px #ddaa00;
  width: 100%;
  margin-left: 0;
}

.import {
  color: #ffa488;
}
#resume {
  display: flex;
  max-width: 680px;
  border: solid 8px #ffffff;
  padding: 50px;
  position: relative;
}

.left {
  padding-right: 60px;
  border-right: solid 1px #ddaa00;
}

.right {
  padding-left: 60px;
}

.decoration {
  width: 211px;
  height: 259px;
  background-image: url("pic/pic.jpg");
  background-size: 100% 100%;
  border-radius: 50px 50px 50px 50px;
  position: relative;
}

.listExperience > li {
  display: flex;
  margin-bottom: 10px;
}

.listExperience > li:nth-child(1) ul {
  border-color: #88aa00;
}
.listExperience > li:nth-child(2) ul {
  border-color: #99dd00;
}
.listExperience > li:nth-child(3) ul {
  border-color: #bbff00;
}
.listExperience > li:nth-child(4) ul {
  border-color: #ddff77;
}
.listExperience li ul {
  padding-left: 10px;
  margin-left: 10px;
  border-left: solid 4px white;
}

/* list program */
.listProgram .bar {
  width: 150px;
  height: 9px;
  border: solid 2px #ddaa00;
  border-radius: 5px;
}
.listProgram li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.value {
  height: 100%;
  background-color: #ddaa00;
}

.btn {
  border: solid 3px #ddaa00;
  padding: 5px 20px;
  margin-right: 10px;
}
